header {
//	background-color: #5BC0DE;
	background-color: #005CCC;
	padding:20px;
	color:white;
}

footer {
	background-color: rgba(0,0,0,0.9);
	color:white;
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	height: 30px;
	text-align:center;
}

footer p {
	margin: 5px 0 0 0;
}

.instructions {
	display:inline;
	position: relative;
	margin-bottom: 10px;
}

.instructions a {
	color:white;
}

.instructions a:hover {
	font-style: italics;
	text-decoration:underline;
}

.instructions:hover:after {
	background: #111;
	background: rgba(0,0,0,.8);
	border-radius: .5em;
	bottom: 1.35em;
	color: #fff;
	content: attr(titled);
	display:block;
	left: 1em;
	padding: .3em 1em;
	position:absolute;
	text-shadow: 0 1px 0 #000;
	white-space: nowrap;
	z-index:98;
}

.instructions:hover:before {
	border: solid;
	border-color: #111 transparent;
	border-color: rgba(0,0,0,.8) transparent;
	border-width: .4em .4em 0 .4em;
	bottom: 1em;
	content: "";
	display: block;
	left: 2em;
	position: absolute;
	z-index:99;

}


.pref-button {
	margin-top: 25px;
}

.game-area {
	margin-top:100px;	
}

.smartboard {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	z-index:-1;
	opacity:0.8;
}

.row {
	text-align:center;
}

.row1 > div {
	display: inline-block;
	vertical-align: text-top;
}


.game-controls {
	margin-left: 50px;
	margin-right: 50px;
}

.dice-area, .solution-area, .feedback-area {
	display:none;
	text-align:center;
	margin-top:25px;
}

.solution-area {
	margin-top: 0px;
}

.submit-team {
	display: none;
	width: 90px;
}

.feedback {
	font-size: 40px;
	line-height:normal;
}	

.start-button {
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:250px;
}

.add-die {
	padding: 0px;
}

.dice { 
	height: 65px;
	width: 65px;
}

.extra {
	color:transparent;
}

#extra-die {
	display:none;
}

.digit-group {
	padding-top:15px;
}

span.digit {
	height: 65px;
	width: 65px;
	display:inline-block;
	text-align:center;
	font-size:2em;
}


img.six-one {
	background:url(/Dice-Game/src/img/Dice.png) 0 0;
}
 
img.six-two {
	background:url(/Dice-Game/src/img/Dice.png) -67px 0px;
}

img.six-three {
	background:url(/Dice-Game/src/img/Dice.png) -134px 0px;
}

img.six-four {
	background:url(/Dice-Game/src/img/Dice.png) 0 -67px;
}

img.six-five {
	background:url(/Dice-Game/src/img/Dice.png) -67px -67px;
}

img.six-six {
	background:url(/Dice-Game/src/img/Dice.png) -134px -67px;
}

img.twelve-one {
	background:url(/Dice-Game/src/img/Dice12-1.png) 0 0;
}

img.twelve-two {
	background:url(/Dice-Game/src/img/Dice12-1.png) -65px 0px;
}

img.twelve-three {
	background:url(/Dice-Game/src/img/Dice12-1.png) -130px 0px;
}

img.twelve-four {
	background:url(/Dice-Game/src/img/Dice12-1.png) -195px 0px;
}

img.twelve-five {
	background:url(/Dice-Game/src/img/Dice12-1.png) -260px 0px;
}

img.twelve-six {
	background:url(/Dice-Game/src/img/Dice12-1.png) -325px 0px;
}
img.twelve-seven {
	background:url(/Dice-Game/src/img/Dice12-1.png) 0 -75px;
}

img.twelve-eight {
	background:url(/Dice-Game/src/img/Dice12-1.png) -65px -75px;
}

img.twelve-nine {
	background:url(/Dice-Game/src/img/Dice12-1.png) -130px -75px;
}

img.twelve-ten {
	background:url(/Dice-Game/src/img/Dice12-1.png) -195px -75px;
}

img.twelve-eleven {
	background:url(/Dice-Game/src/img/Dice12-1.png) -260px -75px;
}

img.twelve-twelve {
	background:url(/Dice-Game/src/img/Dice12-1.png) -325px -75px;
}


.victory-modal {
	display:none;
	position:fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(200,200,200,0.5);
	text-align:center;
}

.medal {
	height: 740px;
	width:740px;
	vertical-align:middle;	
	display:inline-block;
	text-align:center;
}

.vert-helper {
	display: inline-block;
	height: 100%;
	vertical-align:middle;
}

.replay {
	vertical-align:middle;
}


.screen-button {
	width: 87px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.calc-button {
	height: 40px;
	width: 80px;
	margin: 3px;
}

.smart-button {
	display:none;
	height: 400px;
	width: 300px;
	border-radius:45px;
}

.smart-button * {
	font-size: 80px;
}

.calculator-holder {
	margin-bottom: 25px;
	display:none;
}

.btn-group > .btn.active {
	z-index:auto;
}
