.team {
    background-image: url(//src/img/teams.png);
    background-repeat: no-repeat;
    display: block;
}

.team-Team1-1 {
    width: 300px;
    height: 150px;
    background-position: 0 0;
}

.team-Team1-2 {
    width: 300px;
    height: 150px;
    background-position: 0 -150px;
}

.team-Team2-1 {
    width: 300px;
    height: 150px;
    background-position: -300px 0;
}

.team-Team2-2 {
    width: 300px;
    height: 150px;
    background-position: -300px -150px;
}
